@using SolEx.Hurt.Core.BLL 
@using SolEx.Hurt.Web.Site2.Helper 
 @model SolEx.Hurt.Core.ModelBLL.ObiektyMaili.SzablonMailaNewslettera 
 <body>ASD<br /><br /><span>@Html.RenderujTuProduktyNewslettera()</span><br /><br />drgf<br />rd<br />tgfr<br />tgr<br />t</body>