@using SolEx.Hurt.Core.BLL 
@using SolEx.Hurt.Web.Site2.Helper 
 @model SolEx.Hurt.Core.ModelBLL.ObiektyMaili.NewsletterMail 
 <body>testowy test<br /><br /><span>@Html.RenderujTuProduktyNewslettera()</span></body>