@model SolEx.Hurt.Model.Helpers.Pieczatki.PieczatkiSzablonyViewModel

<div id="editor-container">
    <div id="editor">
        <canvas id="@Model.SymbolTypu" width="@(Model.Szerokosc_px)px" height="@(Model.Wysokosc_px)px"></canvas>
    </div>
</div>

