@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Web.Site2.Helper
@model SolEx.Hurt.Model.Web.ParametryPola
<label class="animacja">@Html.PobierzTlumaczenie(SolexHelper.AktualnyJezyk.Id,Model.Nazwa) </label>