Thumbs.db

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.ncb


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/



[Tt]est[Rr]esult*
*.Publish.xml
*.licx

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

_TeamCity*
*.dotCover

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Click-Once directory
publish/

*.pubxml
*.publishproj

*.nupkg

*.json

/SolEx.Hurt.Web.Site2/Layout/css/main.css
/SolEx.Hurt.Web.Site2/Layout/css/main.min.css
[Uu]pgrade*
/SolEx.Hurt.Web.Site2/Properties/PublishProfiles/*
/SolEx.Hurt.Web.Site2/imagecache
/SolEx.Hurt.Web.Site2/customConnectionString.config
/SolEx.Hurt.Web.Site2/customAppSettings.config
/SolEx.Hurt.Sync.App/customAppSettings.config
/SolEx.Hurt.Web.Site2/customAppSettings.config
/SolEx.Hurt.Web.Site2/customConnectionString.config
*GeneratedAssemblyInfo.cs
/SolEx.Hurt.Web.Site2/Layout/css/main.css
/SolEx.Hurt.Web.Site2/Layout/css/main.css.map
/SolEx.Hurt.Web.Site2/Layout/css/main.min.css
Synchronizator

thumbs
Zasoby

Views/Shared/Stany/

/SolEx.Hurt.Web.Site2/Views/Shared/Stany
TEMPLATES
/SolEx.Hurt.Web.Site2/Synchronizator/SolEx.Hurt.Sync.ProviderVendo.dll
/SolEx.Hurt.Web.Site2/Synchronizator/SolEx.Hurt.Sync.ProviderVendo.dll
/.vs/config/applicationhost.config
/SolEx.Hurt.Web.Site2/Scripts/Typo/*.js
/SolEx.Hurt.Web.Site2/Scripts/Typo/*.map
plikiCache
/SolEx.Hurt.Web.Site2/logs-filemanager.txt
plikGlobalAsaxPierwszerUchomienie
/.vs
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_Ulubione.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_ajax.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_ajax.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_alerty.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_alerty.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_cookies.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_cookies.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_drukowanieKatalogu.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_drukowanieKatalogu.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_filtryProduktow.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_filtryProduktow.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_helpers.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_helpers.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_importDanychZPlikow.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_importDanychZPlikow.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_kategorieProduktow.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_kategorieProduktow.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_koszyk.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_koszyk.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_listaProduktow.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_listaProduktow.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_mapy.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_mapy.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_menu.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_menu.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_ustawieniaProfilKlienta.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_ustawieniaProfilKlienta.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_wyszukiwarkaProduktow.js
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_wyszukiwarkaProduktow.js.map
/SolEx.Hurt.Web.Site2/Scripts/JSKompilowaneZTS/_Ulubione.js
/packages
*.rar
/Libs/enova
