@using SolEx.Hurt.Web.Site2.Helper
@model  string
    
<div class="menu-hamburger" data-menu-ajax="@Model" >
    <button class="hamburger is-closed animated fadeInRight" type="button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
    
    <div class="navbar navbar-fixed-top">
        @*tu idzie ajaxem doladowane menu jesli jest potrzeba*@
    </div>
    

</div>
<script>
    menuHamburger.menuHamburger_inicjalizuj();
</script>



