@model SolEx.Hurt.Web.Site2.Models.KontrolkaPokazywaniaPrzedrostekModel

<span class="pole-z-ustawienia obrazki-fluid @Model.KlasyCSS">
    @Html.Raw(Model.Przedrostek)
    @if (Model.WartoscDoPokazania != null && Model.WartoscDoPokazania.Any())
    {
        foreach (string s in Model.WartoscDoPokazania)
        {
            <span>@Html.Raw(s)</span>
        }
    }
    @Html.Raw(Model.Przyrostek)
</span>