@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Web.Site2.Helper

<a class="btn btn-link btn-sm btn-strona-powrot ukryj-na-modalu" href="@Model">
    <i class="fa fa-angle-left fa-2x" style="vertical-align: sub"></i> &nbsp; @Html.PobierzTlumaczenie("POWRÓT")
</a>