
.historia-zmian-lista{
    ins {
        background-color: #c6ffc6;
        text-decoration: none;
        color:black;
    }

    del {
        background-color: #ffc6c6;
        color:black;
    }
}