.konfekcja-mala{
    tr > td:nth-child(2){
        padding-left: 10px;
    }
    margin-bottom: 0;
}

.r{
    .konfekcja-mala{
        float:right;
    }
}


table.gradacje{
    tr.spelniony{
        
    }
}