
.rejestracja-forma {
    display: inline-block;
    font-size: 120% !important;

    .rejestracja-btn {
        margin-top: 50px;
    }

    fieldset {
        margin-bottom: 25px;
    }



    h3 {
        padding-bottom: 60px;
    }


}
