<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="SolEx.web">
      <section name="httpHandlers" type="SolEx.Web.Configuration.HttpHandlersConfigHandler, SolEx.Web.HttpHandlers" />
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax" />
      <section name="sassAndScss" type="BundleTransformer.SassAndScss.Configuration.SassAndScssSettings, BundleTransformer.SassAndScss" />
      <section name="typeScript" type="BundleTransformer.TypeScript.Configuration.TypeScriptSettings, BundleTransformer.TypeScript" />
    </sectionGroup>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <appSettings configSource="customAppSettings.config" />
  <connectionStrings configSource="customConnectionString.config" />
  <log4net>
    <root>
      <level value="ERROR" />
      <appender-ref ref="AdoNetAppender" />
    </root>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <ConnectionStringName value="MainConnectionString" />
      <commandText value="INSERT INTO LogWpis ([data],[modul],[poziom],[opis],[wiadomosc],[ex], [stackTrace],[url],[user]) VALUES (@log_date, @logger, @log_level, @apdom, @message, @exception,@stack_trace, @url, @user)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@apdom" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%appdomain" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="80000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@user" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{sesja-user-id}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@stack_trace" />
        <dbType value="String" />
        <size value="80000" />
        <layout type="SolEx.Hurt.Core.CustomPatternLayout,SolEx.Hurt.Core">
          <conversionPattern value="%stack" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@url" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%aspnet-request{URL}?%aspnet-request{QUERY_STRING}  ||  [ip: %property{IP}] [ref:%property{url-referer}]" />
        </layout>
      </parameter>
    </appender>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryption="Auto" decryptionKey="5DA740E7CEB6E2139704F82C1D0B9D405EE6714B29D1200E" validation="SHA1" validationKey="6B16543388D3FE7E3E62B47BC0C8CC732CB356591AB108BD5B118E5555E453AC9E68B6813B8793064947803D9A4DB0D1894031B19E224963F7AFD724A01FA5E0" />
    <globalization uiCulture="pl-PL" culture="pl-PL" />
    <httpRuntime executionTimeout="90000" requestValidationMode="2.0" maxRequestLength="204800" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="error404.html" />
      <error statusCode="500" redirect="/Error/Error/500" />
      <error statusCode="403" redirect="/Error/Error/403" />
    </customErrors>
    <trace enabled="false" localOnly="true" />
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="UploadPlikow" verb="*" path="UploadPlikow.ashx" type="SolEx.Hurt.Web.Site2.Modules.UploadPlikow, SolEx.Hurt.Web.Site2, Version=1.2.0.0, Culture=neutral" />
      <add name="SitemapaHandler" verb="*" path="SitemapaHandler.ashx" type="SolEx.Hurt.Web.Site2.Modules.SitemapaHandler, SolEx.Hurt.Web.Site2, Version=1.2.0.0, Culture=neutral" />
      <!--APi-->
      <!--Logowanie-->
      <add name="LoginHandler" verb="*" path="Api/api.logowanie.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.LoginHandler, SolEx.Hurt.Web.Site2" />
      <!--Dokumenty-->
      <add name="DodajDokumentHandler" verb="*" path="api/Dokumenty.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.DodajDokumentHandler, SolEx.Hurt.Web.Site2" />
      <add name="UsunDokumentHandler" verb="*" path="api/Dokumenty.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunDokumentHandler, SolEx.Hurt.Web.Site2" />
      <add name="DokumentStatusHandler" verb="*" path="api/Dokumenty.status.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.DokumentStatusHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzPozycjeDokumentow" verb="*" path="api/HashDokumentyPozycje.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzPozycjeDokumentowHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzHistoriaDokumentuListPrzewozowy" verb="*" path="api/Dokumenty.listyprzewozowe.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzListyPrzewozowe, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeHistoriaDokumentuListPrzewozowy" verb="*" path="api/Dokumenty.listyprzewozowe.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujListyPrzewozowe, SolEx.Hurt.Web.Site2" />
      <add name="UsunHistoriaDokumentuListPrzewozowy" verb="*" path="api/Dokumenty.listyprzewozowe.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunListyPrzewozowe, SolEx.Hurt.Web.Site2" />
      <add name="FakturyElekroniczneDlaKogo" verb="*" path="api/Dokumenty.elektroniczne.dlakogo.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.FakturyElekroniczneDlaKogo, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeFakturyElekroniczne" verb="*" path="api/Dokumenty.elektroniczne.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujFakturyElekroniczne, SolEx.Hurt.Web.Site2" />
      <add name="WysylaniePowiadomienONowychFakturach" verb="*" path="api/Dokumenty.elektroniczne.wysylanie.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.WysylaniePowiadomienONowychFakturach, SolEx.Hurt.Web.Site2" />
      <!--Produkty-->
      <add name="PobierzProduktyHandler" verb="*" path="api/produkty.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzProduktyHandler, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeProdukty" verb="*" path="api/produkty.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujProdukty, SolEx.Hurt.Web.Site2" />
      <add name="PobierzPoziomyCenHandler" verb="*" path="Api/produkty.poziomycen.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzPoziomyCenHandler, SolEx.Hurt.Web.Site2" />
      <add name="DodajPoziomyCenHandler" verb="*" path="Api/produkty.poziomycen.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.DodajPoziomyCenHandler, SolEx.Hurt.Web.Site2" />
      <add name="UsunPoziomyCen" verb="*" path="Api/produkty.poziomycen.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunPoziomyCen, SolEx.Hurt.Web.Site2" />
      <!--<add name="AktualizujPojedynczyListePoziomyCenProduktuHandler" verb="*" path="Api/produkty.ceny.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujPoziomyCenProduktuHandler, SolEx.Hurt.Web.Site2" />-->
      <!--<add name="PobierzCenyProduktow" verb="*" path="Api/produkty.ceny.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCenyProduktow, SolEx.Hurt.Web.Site2" />-->
      <!--<add name="PobierzCenyProduktowLista" verb="*" path="Api/produkty.ceny.pobierz.lista.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCenyProduktowLista, SolEx.Hurt.Web.Site2" />-->
      <!--<add name="PobierzCenyProduktowID" verb="*" path="Api/produkty.ceny.id.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCenyProduktowID, SolEx.Hurt.Web.Site2" />-->
      <!--<add name="UsunPoziomyCenHandler" verb="*" path="Api/produkty.ceny.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunCenyPoziomy, SolEx.Hurt.Web.Site2" />-->
      <add name="PobierzCechyProdukty" verb="*" path="Api/produkty.cechy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCechyProdukty, SolEx.Hurt.Web.Site2" />
      <add name="PobierzCechyProduktyID" verb="*" path="Api/produkty.cechy.id.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCechyProduktyID, SolEx.Hurt.Web.Site2" />
      <add name="UsunCechyProdukty" verb="*" path="Api/produkty.cechy.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunCechyProdukty, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeCechyProdukty" verb="*" path="Api/produkty.cechy.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujCechyProdukty, SolEx.Hurt.Web.Site2" />
      <add name="PobierzProduktyKategorie" verb="*" path="Api/produkty.kategorie.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzProduktyKategorie, SolEx.Hurt.Web.Site2" />
      <add name="UsunProduktyKategorie" verb="*" path="Api/produkty.kategorie.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunProduktyKategorie, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeProduktyKategorie" verb="*" path="Api/produkty.kategorie.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujProduktyKategorie, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeJednostki" verb="*" path="Api/produkty.jednostki.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujJednostki, SolEx.Hurt.Web.Site2" />
      <add name="PobierzJednostki" verb="*" path="Api/produkty.jednostki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzJednostki, SolEx.Hurt.Web.Site2" />
      <add name="UsunJednostki" verb="*" path="Api/produkty.jednostki.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunJednostki, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeJednostkiLaczniki" verb="*" path="Api/produkty.jednostki.laczniki.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujJednostkiLaczniki, SolEx.Hurt.Web.Site2" />
      <add name="PobierzJednostkiLaczniki" verb="*" path="Api/produkty.jednostki.laczniki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzJednostkiLaczniki, SolEx.Hurt.Web.Site2" />
      <add name="UsunJednostkiLaczniki" verb="*" path="Api/produkty.jednostki.laczniki.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunJednostkiLaczniki, SolEx.Hurt.Web.Site2" />
      <add name="PobierzProduktyHash" verb="*" path="Api/produkty.hash.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzProduktyHash, SolEx.Hurt.Web.Site2" />
      <add name="PobierzCechyHash" verb="*" path="Api/cechy.hash.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCechyHash, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKlienciHash" verb="*" path="Api/klienci.hash.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKlienciHash, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeKonfekcje" verb="*" path="Api/produkty.konfekcje.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKonfekcje, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKonfekcje" verb="*" path="Api/produkty.konfekcje.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKonfekcje, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKonfekcjeIds" verb="*" path="Api/produkty.konfekcje.pobierzid.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKonfekcjeIds, SolEx.Hurt.Web.Site2" />
      <add name="UsunKonfekcje" verb="*" path="Api/produkty.konfekcje.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKonfekcje, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeKodyDodatkowe" verb="*" path="Api/produkty.kody.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKodyDodatkowe, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKodyDodatkowe" verb="*" path="Api/produkty.kody.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKodyDodatkowe, SolEx.Hurt.Web.Site2" />
      <add name="UsunKodyDodatkowe" verb="*" path="Api/produkty.kody.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKodyDodatkowe, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeZamienniki" verb="*" path="Api/produkty.zamienniki.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujZamienniki, SolEx.Hurt.Web.Site2" />
      <add name="PobierzZamienniki" verb="*" path="Api/produkty.zamienniki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzZamienniki, SolEx.Hurt.Web.Site2" />
      <add name="UsunZamienniki" verb="*" path="Api/produkty.zamienniki.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunZamienniki, SolEx.Hurt.Web.Site2" />
      <!--KAtegorie produktow-->
      <add name="PobierzKategorieZrodlowe" verb="*" path="Api/kategorie.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKategorieZrodlowe, SolEx.Hurt.Web.Site2" />
      <add name="UsunKategorieZrodlowe" verb="*" path="Api/kategorie.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKategorieZrodlowe, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeKategorieZrodlowe" verb="*" path="Api/kategorie.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKategorieZrodlowe, SolEx.Hurt.Web.Site2" />
      <!--grupy-->
      <add name="PobierzGrupy" verb="*" path="Api/grupy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzGrupy, SolEx.Hurt.Web.Site2" />
      <!-- Cechy i atrybuty-->
      <add name="PobierzAtrybuty" verb="*" path="api/atrybuty.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzAtrybuty, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeAtrybuty" verb="*" path="api/atrybuty.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujAtrybuty, SolEx.Hurt.Web.Site2" />
      <add name="UsunAtrybuty" verb="*" path="api/atrybuty.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunAtrybuty, SolEx.Hurt.Web.Site2" />
      <add name="PobierzCechy" verb="*" path="api/cechy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCechy, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeCechy" verb="*" path="api/cechy.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujCechy, SolEx.Hurt.Web.Site2" />
      <add name="UsunCechy" verb="*" path="api/cechy.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunCechy, SolEx.Hurt.Web.Site2" />
      <!-- stany -->
      <add name="AktualizujPojedynczyListeStany" verb="*" path="Api/produkty.stany.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujStany, SolEx.Hurt.Web.Site2" />
      <add name="PobierzStany" verb="*" path="Api/produkty.stany.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzStany, SolEx.Hurt.Web.Site2" />
      <add name="StanyPowiadomienie" verb="*" path="Api/produkty.stany.powiadomienie.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.StanyPowiadomienie, SolEx.Hurt.Web.Site2" />
      <!--Klienci-->
      <add name="MailePowitalne" verb="*" path="Api/klienci.powitanie.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.MailePowitalne, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKlientowHandler" verb="*" path="Api/klienci.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKlientowHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzDostepneProduktyKlienta" verb="*" path="Api/klienci.oferta.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzDostepneProduktyKlienta, SolEx.Hurt.Web.Site2" />
      <!-- <add name="PobierzProduktyUkryteWybranychKlientow" verb="*" path="Api/klienci.ofertaukryte.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzProduktyUkryteWybranychKlientow, SolEx.Hurt.Web.Site2" /> -->
      <add name="AktualizujKlientaHandler" verb="*" path="Api/klienci.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKlientaHandler, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujCenyKlientaHandler" verb="*" path="Api/klienci.wyliczoneceny.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujCenyKlientaHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzCenyKlientaWyliczoneERPHandler" verb="*" path="Api/klienci.wyliczoneceny.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCenyKlientaWyliczoneERPHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzCenyKlientaWyliczoneERPHandlerIds" verb="*" path="Api/klienci.wyliczoneceny.id.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCenyKlientaWyliczoneERPHandlerIds, SolEx.Hurt.Web.Site2" />
      <add name="UsunKlientaHandler" verb="*" path="Api/klienci.wyliczoneceny.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKlientaHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzCenyHandler" verb="*" path="Api/klienci.ceny.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzCenyHandler, SolEx.Hurt.Web.Site2" />
      <add name="PobierzAdresy" verb="*" path="api/klienci.adresy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzAdresy, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeAdresy" verb="*" path="api/klienci.adresy.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujAdresy, SolEx.Hurt.Web.Site2" />
      <add name="UsunAdresy" verb="*" path="api/klienci.adresy.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunAdresy, SolEx.Hurt.Web.Site2" />
      <add name="PobierzLacznikiAdresow" verb="*" path="api/laczniki.adresy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzLacznikiAdresow, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeLacznikiAdresow" verb="*" path="api/laczniki.adresy.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujLacznikiAdresow, SolEx.Hurt.Web.Site2" />
      <add name="UsunLacznikiAdresow" verb="*" path="api/laczniki.adresy.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunLacznikiAdresow, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKraje" verb="*" path="api/klienci.kraje.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKraje, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeKraje" verb="*" path="api/klienci.kraje.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKraje, SolEx.Hurt.Web.Site2" />
      <add name="UsunKraje" verb="*" path="api/klienci.kraje.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKraje, SolEx.Hurt.Web.Site2" />
      <add name="PobierzRegiony" verb="*" path="api/klienci.regiony.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzRegiony, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeRegiony" verb="*" path="api/klienci.regiony.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujRegiony, SolEx.Hurt.Web.Site2" />
      <add name="UsunRegiony" verb="*" path="api/klienci.regiony.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunRegiony, SolEx.Hurt.Web.Site2" />
      <add name="PobierzProduktyUkryte" verb="*" path="api/klienci.produkt_ukryte.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzProduktyUkryte, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeProduktyUkryte" verb="*" path="api/klienci.produkt_ukryte.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujProduktyUkryte, SolEx.Hurt.Web.Site2" />
      <add name="PobierzIDProduktyUkryte" verb="*" path="api/klienci.produkt_ukryte.pobierzid.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzIDProduktyUkryte, SolEx.Hurt.Web.Site2" />
      <add name="UsunProduktyUkryte" verb="*" path="api/klienci.produkt_ukryte.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunProduktyUkryte, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeKategorieKlientow" verb="*" path="Api/klienci.kategorie.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKategorieKlientow, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKategorieKlientow" verb="*" path="Api/klienci.kategorie.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKategorieKlientow, SolEx.Hurt.Web.Site2" />
      <add name="UsunKategorieKlientow" verb="*" path="Api/klienci.kategorie.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKategorieKlientow, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeKlienciKategorie" verb="*" path="Api/klienci.kategorie.polaczenia.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujKlienciKategorie, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKlienciKategorie" verb="*" path="Api/klienci.kategorie.polaczenia.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKlienciKategorie, SolEx.Hurt.Web.Site2" />
      <add name="UsunKlienciKategorie" verb="*" path="Api/klienci.kategorie.polaczenia.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunKlienciKategorie, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeRabaty" verb="*" path="Api/klienci.rabaty.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujRabaty, SolEx.Hurt.Web.Site2" />
      <add name="PobierzRabaty" verb="*" path="Api/klienci.rabaty.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzRabaty, SolEx.Hurt.Web.Site2" />
      <add name="PobierzKlientowZRabatami" verb="*" path="Api/klienci.zrabatami.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzKlientowZRabatami, SolEx.Hurt.Web.Site2" />
      <add name="PobierzRabatyHash" verb="*" path="Api/klienci.rabaty.hash.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzRabatyHash, SolEx.Hurt.Web.Site2" />
      <add name="UsunRabaty" verb="*" path="Api/klienci.rabaty.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunRabaty, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeLimityIlosciowe" verb="*" path="Api/klienci.limityilosciowe.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujLimityIlosciowe, SolEx.Hurt.Web.Site2" />
      <add name="PobierzLimityIlosciowe" verb="*" path="Api/klienci.limityilosciowe.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzLimityIlosciowe, SolEx.Hurt.Web.Site2" />
      <add name="UsunLimityIlosciowe" verb="*" path="Api/klienci.limityilosciowe.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunLimityIlosciowe, SolEx.Hurt.Web.Site2" />
      <add name="RejestracjePobieranieHandler" verb="*" path="Api/klienci.rejestracje.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.RejestracjePobieranieHandler, SolEx.Hurt.Web.Site2, Version=1.2.0.0, Culture=neutral" />
      <add name="RejestracjeAktualizacjaHandler" verb="*" path="Api/klienci.rejestracje.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.RejestracjeAktualizacjaHandler, SolEx.Hurt.Web.Site2, Version=1.2.0.0, Culture=neutral" />
      <!--Języki-->
      <add name="PobierzJezykiHandler" verb="*" path="Api/jezyki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzJezykiHandler, SolEx.Hurt.Web.Site2" />
      <!--System typy-->
      <!--<add name="PobierzSystemTypyHandler" verb="*" path="Api/system.typy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzSystemTypyHandler, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujSystemTypy" verb="*" path="Api/system.typy.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujSystemTypy, SolEx.Hurt.Web.Site2" />-->
      <!--System pola-->
      <add name="PobierzSystemPolaHandlerr" verb="*" path="Api/system.pola.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzSystemPolaHandlerr, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeSystemPolaHandler" verb="*" path="Api/system.pola.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujSystemPolaHandler, SolEx.Hurt.Web.Site2" />
      <!--Słowniki-->
      <add name="PobierzSlownikiHandler" verb="*" path="Api/system.slowniki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzSlownikiHandler, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeSlownikiHandler" verb="*" path="Api/system.slowniki.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujSlownikiHandler, SolEx.Hurt.Web.Site2" />
      <add name="UsunSlownikiHandler" verb="*" path="Api/system.slowniki.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunSlownikiHandler, SolEx.Hurt.Web.Site2" />
      <!--Ustawienia-->
      <add name="PobierzUstawieniaHandler" verb="*" path="Api/ustawienia.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzUstawieniaHandler, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeUstawieniaHandler" verb="*" path="Api/ustawienia.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujUstawieniaHandler, SolEx.Hurt.Web.Site2" />
      <!--Koniec APi-->
      <!-- Magazyny -->
      <add name="PobierzMagazyny" verb="*" path="Api/magazyny.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzMagazyny, SolEx.Hurt.Web.Site2" />
      <add name="UsunMagazyny" verb="*" path="Api/magazyny.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzMagazyny, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeMagazyny" verb="*" path="Api/magazyny.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujMagazyny, SolEx.Hurt.Web.Site2" />
      <!--Zadania-->
      <add name="PobierzZadania" verb="*" path="Api/zadania.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.ZadaniaSynchronizatoraPobierz, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeZadania" verb="*" path="Api/zadania.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.ZadaniaAktualizuj, SolEx.Hurt.Web.Site2" />
      <add name="WykonajZadaniaAdministracyjne" verb="*" path="Api/zadania.administracyjne.wykonaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.WykonajZadaniaAdministracyjne, SolEx.Hurt.Web.Site2" />
      <!--Zamowienia-->
      <add name="PobierzZamowienia" verb="*" path="Api/zamowienia.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzZamowienia, SolEx.Hurt.Web.Site2" />
      <add name="PobierzWszystkieZamowienia" verb="*" path="Api/zamowieniaWszystkie.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzWszystkieZamowienia, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeZamowienia" verb="*" path="Api/zamowienia.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujZamowienia, SolEx.Hurt.Web.Site2" />
      <add name="PobierzZamowieniaStatusy" verb="*" path="Api/zamowienia.statusy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzZamowieniaStatusy, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeZamowieniaStatusy" verb="*" path="Api/zamowienia.statusy.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujZamowieniaStatusy, SolEx.Hurt.Web.Site2" />
      <add name="UsunZamowieniaStatusy" verb="*" path="Api/zamowienia.statusy.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunZamowieniaStatusy, SolEx.Hurt.Web.Site2" />
      <!-- pliki -->
      <add name="PlikiProduktowPobierz" verb="*" path="Api/pliki.produktow.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiProduktowPobierz, SolEx.Hurt.Web.Site2" />
      <add name="PlikProduktowUsun" verb="*" path="Api/pliki.produktow.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiProduktowUsun, SolEx.Hurt.Web.Site2" />
      <add name="PlikProduktowDodaj" verb="*" path="Api/pliki.produktow.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiProduktowDodaj, SolEx.Hurt.Web.Site2" />
      <add name="PlikNaB2BPobierz" verb="*" path="Api/pliki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiPobierz, SolEx.Hurt.Web.Site2" />
      <add name="PlikiIdPobierz" verb="*" path="Api/pliki.id.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiIdPobierz, SolEx.Hurt.Web.Site2, Version=0, Culture=neutral" />
      <add name="PlikNaB2BUsun" verb="*" path="Api/pliki.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiUsun, SolEx.Hurt.Web.Site2" />
      <add name="PlikNaB2BDodaj" verb="*" path="Api/pliki.dodaj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PlikiDodaj, SolEx.Hurt.Web.Site2" />
      <!--Sklepy-->
      <add name="PobierzSklepy" verb="*" path="Api/sklepy.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzSklepy, SolEx.Hurt.Web.Site2" />
      <add name="UsunSklepy" verb="*" path="Api/sklepy.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunSklepy, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeSklepy" verb="*" path="Api/sklepy.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujSklepy, SolEx.Hurt.Web.Site2" />
      <add name="PobierzSklepyKategorie" verb="*" path="Api/sklepy.kategorie.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzSklepyKategorie, SolEx.Hurt.Web.Site2" />
      <add name="UsunSklepyKategorie" verb="*" path="Api/sklepy.kategorie.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunSklepyKategorie, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeSklepyKategorie" verb="*" path="Api/sklepy.kategorie.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujSklepyKategorie, SolEx.Hurt.Web.Site2" />
      <add name="PobierzSklepyKategorieLaczniki" verb="*" path="Api/sklepy.laczniki.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzSklepyKategorieLaczniki, SolEx.Hurt.Web.Site2" />
      <add name="UsunSklepyKategorieLaczniki" verb="*" path="Api/sklepy.laczniki.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunSklepyKategorieLaczniki, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeSklepyKategorieLaczniki" verb="*" path="Api/sklepy.laczniki.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujSklepyKategorieLaczniki, SolEx.Hurt.Web.Site2" />
      <!--Waluty-->
      <add name="PobierzWaluty" verb="*" path="Api/waluty.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.PobierzWalute, SolEx.Hurt.Web.Site2" />
      <add name="UsunWaluty" verb="*" path="Api/waluty.usun.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.UsunWalute, SolEx.Hurt.Web.Site2" />
      <add name="AktualizujPojedynczyListeWaluty" verb="*" path="Api/waluty.aktualizuj.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.AktualizujWalute, SolEx.Hurt.Web.Site2" />
      <!--Maile-->
      <add name="WyslijMailing" verb="*" path="Api/powiadomienia.mailing.wyslij.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.WyslijMailing, SolEx.Hurt.Web.Site2" />
      <add name="WyslijPonownieMaile" verb="*" path="Api/powiadomienia.lista.wyslij.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.WyslijPonownieMaile, SolEx.Hurt.Web.Site2, Version=0, Culture=neutral" />
      <!--Synchronizator-->
      <add name="Synchronizator" verb="*" path="Api/synchronizator.info.pobierz.ashx" type="SolEx.Hurt.Web.Site2.Modules.Api.Synchronizator, SolEx.Hurt.Web.Site2" />
      <add name="SassAssetHandler" path="*.sass" verb="GET" type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" resourceType="File" preCondition="" />
      <add name="ScssAssetHandler" path="*.scss" verb="GET" type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" resourceType="File" preCondition="" />
      <!--<add name="TypeScriptAssetHandler" path="*.ts" verb="GET" type="BundleTransformer.TypeScript.HttpHandlers.TypeScriptAssetHandler, BundleTransformer.TypeScript" resourceType="File" preCondition="" />-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	    <add name="MiniProfiler" path="profiler/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />		
    </handlers>
    <rewrite>
      <rules>
        <rule name="edit">
          <match url="SymplexSB/edi_order.php" />
          <action type="Rewrite" url="SymplexSB/PobierzZamowienia" />
        </rule>
        <rule name="status">
          <match url="SymplexSB/change_status.php" />
          <action type="Rewrite" url="SymplexSB/ZmienStatus" />
        </rule>
      </rules>
    </rewrite>
    <!--<security>
      <requestFiltering>
        <requestLimits>
          <headerLimits>
            <add header="Content-type" sizeLimit="102400" />  -->
    <!--100mb-->
    <!--
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
  <location>
    <system.web>
      <authorization />
    </system.web>
    <system.webServer>
      <staticContent>
        <remove fileExtension=".kml" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".kml" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="14.00:00:00" />
        <!--
        to wlancza kompresje, ale nietety czasem przegladrki nie widza tych plikow svg
        <remove fileExtension=".svg"/>
        <mimeMap fileExtension=".svg" mimeType="text/xml"/>
        <remove fileExtension=".json"/>
        <mimeMap fileExtension=".json" mimeType="application/json"/>-->
      </staticContent>
    </system.webServer>
  </location>
  <SolEx.web>
    <httpHandlers>
      <cacheView enabled="true" showViewDataLink="true" />
    </httpHandlers>
  </SolEx.web>
  <resizer configSource="static\obrazki_ustawienie.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" PublicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.152.0" newVersion="1.9.152.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LibSassHost" publicKeyToken="3e24e88796a38e46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.9.0" newVersion="0.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsieJavaScriptEngine" publicKeyToken="a3a2846a37ac0d3e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.0.6" newVersion="2017.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.0.6" newVersion="2017.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report.Check" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.0.6" newVersion="2017.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report.Helper" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.0.6" newVersion="2017.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css defaultMinifier="MicrosoftAjaxCssMinifier">
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="SassAndScssTranslator" type="BundleTransformer.SassAndScss.Translators.SassAndScssTranslator, BundleTransformer.SassAndScss" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxCssMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxCssMinifier, BundleTransformer.MicrosoftAjax" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".sass" assetTypeCode="Sass" />
          <add fileExtension=".scss" assetTypeCode="Scss" />
        </fileExtensions>
      </css>
      <js defaultMinifier="MicrosoftAjaxJsMinifier" combineFilesBeforeMinification="true">
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="TypeScriptTranslator" type="BundleTransformer.TypeScript.Translators.TypeScriptTranslator, BundleTransformer.TypeScript" enabled="true" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="CrockfordJsMinifier" type="BundleTransformer.JsMin.Minifiers.CrockfordJsMinifier, BundleTransformer.JsMin" />
          <add name="MicrosoftAjaxJsMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxJsMinifier, BundleTransformer.MicrosoftAjax" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
          <add fileExtension=".ts" assetTypeCode="TypeScript" />
        </fileExtensions>
      </js>
    </core>
    <microsoftAjax>
      <css outputMode="SingleLine" termSemicolons="false" commentMode="None" minifyExpressions="true" />
      <js preserveImportantComments="false" termSemicolons="false" removeFunctionExpressionNames="true" removeUnneededCode="true" />
    </microsoftAjax>
    <typeScript allowUnreachableCode="false" allowUnusedLabels="false" alwaysStrict="false" forceConsistentCasingInFileNames="false" newLine="CrLf" noEmit="false" noEmitHelpers="false" noEmitOnError="false" noErrorTruncation="false" noFallthroughCasesInSwitch="false" noImplicitAny="false" noImplicitReturns="false" noImplicitThis="false" noLib="false" noResolve="false" noUnusedLocals="false" noUnusedParameters="false" preserveConstEnums="false" removeComments="false" skipDefaultLibCheck="false" skipLibCheck="false" strictNullChecks="false" stripInternal="false" suppressExcessPropertyErrors="false" suppressImplicitAnyIndexErrors="false" suppressTypeCheckingErrors="false" target="EcmaScript3" transpileOnly="false">
      <jsEngine name="MsieJsEngine" />
    </typeScript>
  </bundleTransformer>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>