@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Web.Site2.Helper
<div class="alert alert-success ">
    <a class="alert-link" href="/koszyk">
        @Html.PobierzTlumaczenie("Posiadasz koszyki do akceptacji, kliknij tutaj, aby przejść do ich akceptacji")
    </a>
</div>