@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Web.Site2.Helper
@Html.ActionLink(SolexBllCalosc.PobierzInstancje.Konfiguracja.PobierzTlumaczenie(SolexHelper.AktualnyJezyk.Id,"Dodaj"), "Edycja", new { }, new { @class = "okno-modalne btn btn-primary pull-right" })


<div class="subkonta">

    <div class="c subkonta-naglowek">
        @Html.PobierzTlumaczenie("Lista schematów limitów")
    </div>


    <div class="szablon-limitow-pojemnik">

    </div>
    <script language="javascript" type="text/javascript">

        InicjujListe('.szablon-limitow-pojemnik', '.szablon-limitow-edycja', '/SzablonyLimitow/ListaDane');
    </script>
</div>