<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SolEx.Hurt.DAL.Properties.Settings.b2b_solex_branchMateuszConnectionString" connectionString="Data Source=Solex;Initial Catalog=b2b-solex-branchMateusz;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.DAL.Properties.Settings.b2b_gedeonConnectionString" connectionString="Data Source=localhost;Initial Catalog=b2b-gedeon;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.DAL.Properties.Settings.b2b_tenzo3ConnectionString" connectionString="Data Source=(local);Initial Catalog=b2b-tenzo3;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.DAL.Properties.Settings.b2b_tenzo3ConnectionString1" connectionString="Data Source=solex;Initial Catalog=b2b-tenzo3;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.DAL.Properties.Settings.b2b_saturnConnectionString" connectionString="Data Source=192.168.99.103;Initial Catalog=b2b-saturn;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
