<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_DemoConnectionString" connectionString="Data Source=kuleros-PC\;Initial Catalog=CDN_Demo;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_LocalConnectionString" connectionString="Data Source=kuleros-pc;Initial Catalog=CDN_Local;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_KonfiguracjaConnectionString" connectionString="Data Source=kuleros-pc;Initial Catalog=CDN_Konfiguracja;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_LEMIR_B2BConnectionString" connectionString="Data Source=KULEROS-PC\sqlserver2008;Initial Catalog=CDN_LEMIR_B2B;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.cdn_demoConnectionString1" connectionString="Data Source=SOLEX;Initial Catalog=cdn_demo;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_demo3ConnectionString" connectionString="Data Source=solex;Initial Catalog=CDN_demo3;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_AMPBIKEConnectionString" connectionString="Data Source=7.176.204.120\CDN_OPTIMA;Initial Catalog=CDN_AMPBIKE;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_KNF_KonfiguracjaConnectionString" connectionString="Data Source=localhost;Initial Catalog=CDN_KNF_Konfiguracja;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_TESTOWAConnectionString" connectionString="Data Source=localhost;Initial Catalog=CDN_TESTOWA;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_TEST2015ConnectionString" connectionString="Data Source=localhost;Initial Catalog=CDN_TEST2015;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SolEx.Hurt.Sync.ProviderOptima.Properties.Settings.CDN_MIL__D_FRASUNKIEWICZConnectionString" connectionString="Data Source=MILO-BIURO\OPTIMA;Initial Catalog=CDN_MIL__D_FRASUNKIEWICZ;Persist Security Info=True;User ID=sa;Password=milo.8228282$%" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
