@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Web.Site2.Helper
<div style="text-align: center;">
    @Html.Raw(Url.ZmienLinkiWzgledneNaAbsolutneWTresci(SolexBllCalosc.PobierzInstancje.Konfiguracja.Logo))
</div>
