@using SolEx.Hurt.Web.Site2.Helper
@model SolEx.Hurt.Core.ModelBLL.ObiektyMaili.SzablonMailaBaza
<div style="text-align: center;">
    <small class="wyszarz">@Html.PobierzTlumaczenie(Model.JezykMaila(), "Otrzymałeś tego maile z systemu sprzedaży hurtowej SOLEX B2B")</small>
</div>
