@model  SolEx.Hurt.Core.BLL.Web.DodatkowePoleKoszyka


<div class="row row-xs-center koszyk-parametr ramka-wykropkowana-dol">
    <div class="parametr-nazwa col-xs-3">
        @Html.Partial("PoleWlasneKoszykaCzescWspolna", Model)
    </div>
    <div class="col-xs-9">
        @{
            Dictionary<string, object> parametry = new Dictionary<string, object>();
            parametry.Add("data-modul", Model.IdModulu);
            parametry.Add("data-symbol", Model.Symbol);

            if (Model.Wymagane)
            {
                parametry.Add("required", "required");

            }
            parametry.Add("class", "border form-control");
        }
        @Html.TextBoxFor(m => m.WybraneWartosciString, "", parametry)
    </div>
</div>