@model string

<form id="form" name="pragma_form_register" action="@Model" method="post">
</form>

<script>
    window.onload = function(){
        document.forms['pragma_form_register'].submit();
    }
</script>