<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SolEx.ERP.SubiektGT.Properties.Settings.SOLEX_kopiaConnectionString" connectionString="Data Source=localhost;Initial Catalog=SOLEX_kopia;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
