@model  List<SolEx.Hurt.Model.Ustawienie>
    <div class="col-md-12">
        <input type="text" id="search" placeholder="Szukaj ustawienia..." class="form-control">
    </div>
    <div id="ustawieniaZawartosc" data-szukanie=""></div>
    <script type="text/javascript">
        $(document).ready(WczytajUstawnia);
    </script>
