@model IList<SolEx.Hurt.Model.Interfaces.IKlient>

<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Lista wybranych klientów</h4>

            </div>
            <div class="modal-body row">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Symbol</th>
                            <th>WiadomoscEmail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.Nazwa</td>
                                <td>@c.Symbol</td>
                                <td>@c.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
