@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Web.Site2.Helper
@Html.ActionLink(SolexBllCalosc.PobierzInstancje.Konfiguracja.PobierzTlumaczenie(SolexHelper.AktualnyJezyk.Id,"Dodaj"), "Edycja", new { }, new { @class = "okno-modalne btn btn-primary pull-right" })



<div class="subkonta">

    <div class="c subkonta-naglowek">
        @Html.PobierzTlumaczenie("Lista grup subkont")
    </div>

    <div class="szablon-subkontaGrupa-pojemnik">
    </div>
</div>

    <script language="javascript" type="text/javascript">
        InicjujListe('.szablon-subkontaGrupa-pojemnik', '.szablon-subkontaGrupa-edycja', '/SubkontaGrupy/ListaDane');
    </script>


