<resizer>
  <plugins>
    <add name="DiskCache" />
    <add name="ClientCache" />
    <add name="Presets" />
    <!--<add name="watermarks" />-->
  </plugins>

  <diskCache dir="Zasoby/imagecache" autoClean="true" hashModifiedDate="false" enabled="true" subfolders="32"   />
  <image404 baseDir="Zasoby/404Images/" />
  <presets onlyAllowPresets="false">
    <preset name="1" defaults="width=212;height=134" />



    <!--
    
    mode: max - bez bialge tla, pad - bialym tlem dopelnia
    scale:
    
    -->
    

    <preset name="ikona155" defaults="width=155;height=155;mode=pad;scale=canvas" />
    <preset name="ikona175" defaults="width=175;height=175;mode=pad;scale=canvas" />
  
    <preset name="ikona212" defaults="width=212;height=134;mode=pad;scale=canvas" />
    
    <preset name="ikona475" settings="width=475;height=475;mode=pad;scale=canvas" />
    <preset name="ikona225" settings="width=225;height=225;mode=pad;scale=canvas" />
    <preset name="ikona60" defaults="width=60;height=60;mode=pad;scale=canvas" />

    <preset name="ikona70" defaults="width=70;height=70;mode=pad;scale=canvas" />
    <preset name="ikona30" defaults="width=30;height=30;mode=pad;scale=canvas" />
    <preset name="ikona212160" defaults="width=212;height=160;mode=pad;scale=canvas" />
    <preset name="ikona475beztla" defaults="width=475;height=475;mode=max" />
    
    <!-- jeśli ma NIE być znaku wodnego na danym trybie grafiki, należy dodać mu parametr w=1  -->

    <preset name="ikonaDzewkoKategorii" defaults="width=40;height=40;w=1" />
    <preset name="jezyki_logo" defaults="width=25;height=25;w=1" />

    <preset name="kafle" settings="width=225;height=225;mode=pad;scale=canvas" />
    <preset name="kafleL" settings="width=300;height=300;mode=pad;scale=canvas" />
    <preset name="galeria" settings="width=390;height=390;mode=pad"/>
    <preset name="ikona" defaults="width=48;height=48;mode=max" />
    <preset name="ikona-mikro" defaults="width=32;height=32;mode=pad" />

    <preset name="geleriaminiatura" defaults="width=82;height=82;mode=pad;w=1" />

    <preset name="news-obrazek" defaults="width=200;height=160;w=1" />
    <preset name="metkaCechy" defaults="width=28;height=28;mode=pad;w=1" />
    <preset name="klient" defaults="width=100;height=100;mode=pad;w=1" />
    <preset name="producent" defaults="width=170;height=170;mode=pad;w=1" />

    <preset name="sklep-na-mapie" defaults="width=138;height=138;w=1" />
    <preset name="pineska-na-mapie" defaults="width=20;height=20;w=1" />
    <preset name="pineska-na-mapie-mid" defaults="width=40;height=40;w=1" />
    <preset name="kafelKategoria" defaults="width=170;height=170;w=1" />
    <preset name="kafelKategoria2" defaults="width=160;height=160;w=1" />
    <preset name="sklepKafel" defaults="width=165;height=165;mode=pad;w=1" />

    
    
    
    
    <!--
    ***********
    NOWE PRESETY - stare będą usuwane.
    
    wszystkie nowe dodawane presety, modyfkowane maja miec skladnie:
    
    ico[wymiar X]x[wymiar Y][tu literki od jaki to preset: w - BEZ watermarka, p - dopełnienie do białego, m - bez dopłenienia
    
    MODE:
    pad - dopelnienie do bialego
    max - taki rozmiar jak jest
    
    
    NAJPIER W a potem P
        
   **************
    -->
    
    <!--dla miniatur produków na listy - NIE zmieniać-->
    <preset name="ico475x475m" settings="width=475;height=475;mode=max;scale=canvas" />
    <preset name="ico475x475p" settings="width=475;height=475;mode=pad;scale=canvas" />
    <preset name="ico195x195m" settings="width=195;height=195;mode=max;scale=canvas" />
    <preset name="ico195x195p" settings="width=195;height=195;mode=pad;scale=canvas" />
    <preset name="ico195x195wp" settings="width=195;height=195;mode=pad;scale=canvas;w=1" />
    
    <preset name="ico250x250p" settings="width=250;height=250;mode=pad;scale=canvas" />
    <preset name="ico85x90p" settings="width=85;height=90;mode=pad;scale=canvas" />
    
    <preset name="ico275x275wp" settings="width=275;height=275;mode=max;scale=canvas;w=1" />
    
    <preset name="ico400x400wp" settings="width=400;height=400;mode=max;scale=canvas;w=1" />
    <preset name="ico400x400w" settings="width=400;height=400;mode=pad;scale=canvas;w=1" />

    
    <preset name="ico82x82wp" settings="width=82;height=82;mode=pad;scale=canvas;w=1" />
    <preset name="ico50x50wp" defaults="width=50;height=50;mode=pad;scale=canvas;w=1" />
    
    
    
    <!--dla slajdera dedykowane partnerzy-->
    <preset name="ico175x75wp" defaults="width=175;height=75;mode=pad;scale=canvas;w=1" />
    <preset name="ico175x175wp" defaults="width=175;height=175;mode=pad;scale=canvas;w=1" />

    <preset name="ico185x185wp" defaults="width=185;height=185;mode=pad;scale=canvas;w=1" />
    
    <preset name="ico340x200wp" defaults="width=340;height=200;mode=pad;scale=canvas;w=1" />
    <preset name="ico360x220wp" defaults="width=340;height=200;mode=pad;scale=canvas;w=1" />

    <preset name="ico40x40wp" defaults="width=40;height=40;mode=pad;scale=canvas;w=1" />

    <preset name="ico135x135wp" defaults="width=135;height=135;scale=canvas;w=1" />
    <preset name="ico135x135w" defaults="width=135;height=135;mode=max;scale=canvas;w=1" />
    <preset name="ico120x120w" defaults="width=135;height=135;mode=max;scale=canvas;w=1" />
    <preset name="ico120x120wp" defaults="width=135;height=135;scale=canvas;w=1" />

    
    <preset name="ico80x80wp" settings="width=80;height=80;mode=max;scale=canvas;w=1" />
    <preset name="ico70x70wp" settings="width=70;height=70;mode=max;scale=canvas;w=1" />

    <preset name="ico570x630p" settings="width=570;height=630;mode=pad;scale=canvas" />

    <preset name="katalog" settings="width=175;height=175;mode=max;scale=canvas;w=1" />
    <preset name="katalogxmax" settings="width=275;height=275;mode=max;scale=canvas;w=1" />
  </presets>
  
  <clientcache minutes="3600" />
  
  <!--<watermarks>
    <otherimages path="~/watermark/" right="20" bottom="20" width="20" height="20" />
    <image name="test1" path="~/Zasoby/Obrazki/watermark.png" imageQuery="filter=alpha(0.3);stretch=fill" top="0" left="0" />
    --><!--<text name="test2" text="Solex B2B" vertical="true" align="topright" />--><!--
  </watermarks>-->
  
</resizer>